.Header {
  background-color: black;
  padding: 12px 135px 12px 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header img {
  width: 54px;
  height: 54px;
}

h1 {
  font-weight: 300;
}

.Swap {
  color: whitesmoke;
}

.Hub {
  color: #1F86FF;
}
